
h1{
    text-align: center;
}

.color-blue{
    color: blue;
}

.background-blue{
    width: 420px;
    color: #fff;
    line-height: 28px;
    background-color: blue;
}

li{
    text-decoration: underline;
}

.background-black{
    width: 395px;
    height: 2rem;
    padding: 1rem;
    background-color: black;
    color: white;
    align-items: center;
    text-align: center;

}